{
  "log": {
    "_recordingName": "indexer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e3173577ecf2efd3e4b2104266e68d8",
        "request": {
          "headers": [
            {
              "name": "x-indexer-api-token",
              "value": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://testnet-idx.4160.nodely.dev/health"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 157,
            "text": "{\"data\":{\"migration-required\":false,\"read-only-mode\":true},\"db-available\":true,\"is-migrating\":false,\"message\":\"57490591\",\"round\":57490591,\"version\":\"3.9.0\"}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 183,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
